* {
  margin: 0;
  padding: 0;
}

.__buttons {
  display: flex;
  flex-direction: column;
  margin-top: -40%;
  margin-left: 10%;
}

.mdc-button__label{
  letter-spacing: 1px;
  word-spacing: 2px;
}

.btn {
  width: 100px !important;
  height: 50px;
}

.__main > .__background {
  display: flex;
  justify-content: center;
  margin-top: 0%;
}

.__border {
  border: 100px solid silver;
  height: 800px;
  width: 800px;
  display: flex;
}

.__cells {
  display: flex;
  flex-wrap: wrap;
}

.__white {
  width: 100px;
  height: 100px;
  background-color: white;
}

.__black {
  width: 100px;
  height: 100px;
  background-color: black;
}

.mdc-button:not(:disabled) {
  color: black !important;
}

.mdc-button .mdc-button__ripple::before, .mdc-button .mdc-button__ripple::after {
  background-color: green !important;
}

.mdc-button--outlined:not(:disabled) {
  border-color: black !important;
}

.__horizontal_one, .__horizontal_two {
  width: 800px;
  height: 100px;
  display: flex;
}

.__horizontal_two {
  margin-top: 800px;
  margin-left: -450px;
  flex-direction: row;
}

.__horizontal_one {
  transform: rotate(180deg);
  margin-top: 0%;
  flex-direction: row-reverse;
  margin-left: -450px;
}

.__vertical_one, .__vertical_two {
  width: 100px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.__letters_and_digits{
  font-size: 30px;
}

.__vertical_one {
  margin-top: 100px;
  margin-left: -1000px;
  flex-direction: column-reverse;
}

.__vertical_two {
  margin-top: -800px;
  margin-left: -100px;
  flex-direction: column;
  transform: rotate(180deg);
}

.__hotrizontals {
  position: absolute;
  margin-left: -450px;
}

.__verticals {
  position: absolute;
}

.__vertical_cells {
  text-align: center;
  width: 100px;
  height: 100px;
  font-weight: bolder;
}

.__hotrizontal_cells {
  text-align: center;
  width: 100px;
  height: 100px;
  font-weight: bolder;
}

.__main {}
